<div>
    <h1>{{title}}</h1>
    <div>
        <h3>- {{User.username}}</h3>
        <h3>{{createdAt}}</h3>
    </div>
    
    <p >&nbsp&nbsp&nbsp&nbsp&nbsp{{body}}</p>
    <div>
    {{>comments-section this}} 
    </div>
    
    <div>
    {{>reply-section this}}
    </div>
   
</div>