<div>
    <a href="/newPost">Create New Post</a>
        {{#each posts as | post |}}
        <div>
            {{> postCard post}}
            <div>
                <button data-postId="{{post.id}}">Edit</button>
                <button data-postId="{{post.id}}">Delete</button>
            </div>

        </div>
        {{/each}}
</div>
<script src="/js/dashboard.js"></script>
<script src="/js/commentSection.js"></script>
<script src="/js/replySection.js"></script>