<div>

        <div>
            <div>
                <h1>
                    <input id="titleInput" placeholder="Title">
                </h1>
                
                <p >
                    <textarea id="bodyInput" placeholder="Write your post content here."></textarea>

                </p>
            </div>
            <div>
                <button id="confirmButton">Confirm</button>
                <button id="cancelButton">Cancel</button>
            </div>

        </div>
</div>
<script src="/js/edit.js" postId="{{post.id}}"></script>