<h1>Welcome {{email}} to the tech blog!</h1>

  {{#each blogs as |blog|}}
  <div class="col-md-4">
    <p>
      {{blog.id}}.
      {{blog.title}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      Guest:
      {{blog.body}}
    </p>
  </div>
  {{/each}}