<div>
    
    <div>
        <div>
            <form>

                    <div>
                    <label for="username">Username:</label><br>
                    <input id="username" type="text" name="username"/>
                    </div>
                    <div>
                    <label for="password">Password:</label><br>
                    <input id="password" type="password" name="password"/>
                    </div>


                <button id="signInButton">Sign In</button>
            </form>
        </div>
    </div>
    <div class="mt-2">
        or <a href="/signup"><button>Sign Up!</button></ahref> 
    </div>

</div>
<script src="/js/login.js"></script>