  <div class='login-container'>
    <h2>
      Login with your username and password.
    </h2>
    <form class='login-form'>
      <label for='username_login'>
        username:
      </label>
      <br />
      <textarea id='username_login' name='username_login' rows='2' cols='30'>
        {{dish_name}}
      </textarea>
      <br />
      <label for='password_login'>
        Password:
      </label>
      <br />
      <textarea id='password_login' name='password_login' rows='5' cols='30'>
        {{description}}
      </textarea>
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
  
  <script src="/js/password.js"></script>