  <div class='login-container'>
    <h2>
      Login with your Email and password.
    </h2>
    <form class='login-form' id='loginForm'>
      <label for='email_login'>
        Email:
      </label>
      <br />
      <input id='email_login' name='email_login' rows='2' cols='30'>
      </input>
      <br />
      <label for='password_login'>
        Password:
      </label>
      <br />
      <input id='password_login' name='password_login' rows='5' cols='30'>
      </input>
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
  
  <script src="/js/password.js"></script>