<div class="flex flex-col justify-center items-center h-full">
    
    <div>
        <div>
            <form>
            <div>
                <label>Username:</label><br>
                <input id="username" type="text" name="username"/>
            </div>

            <div class="my-2">
                <label>Password:</label><br>
                <input id="password" type="password" name="password"/>
            </div>
            <button id="signInButton" class="btn">Sign Up!</button>
            </form>

        </div>
    </div>
    <div>
        Already have an account? <a href="/login"><button>Login</button></a>
    </div>

</div>
<script src="/js/signup.js"></script>